@font-face {
    font-family: 'GilroyItalic';
    src: url('../asset/fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('../asset/fonts/Gilroy-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyBlack';
    src: url('../asset/fonts/Gilroy-Black.woff2') format('woff2'),
        url('../asset/fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyBold';
    src: url('../asset/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../asset/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy.woff2') format('woff2'),
        url('Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-BoldItalic.woff2') format('woff2'),
        url('Gilroy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraBoldItalic.woff2') format('woff2'),
        url('Gilroy-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyExtraBold';
    src: url('../asset/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../asset/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyRegular';
    src: url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyLightItalic';
    src: url('Gilroy-LightItalic.woff2') format('woff2'),
        url('Gilroy-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyMediumItalic';
    src: url('Gilroy-MediumItalic.woff2') format('woff2'),
        url('Gilroy-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyHeavyItalic';
    src: url('Gilroy-HeavyItalic.woff2') format('woff2'),
        url('Gilroy-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyMedium';
    src: url('../asset/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../asset/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyLight';
    src: url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyThin';
    src: url('Gilroy-Thin.woff2') format('woff2'),
        url('Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroySemiBoldItalic';
    src: url('Gilroy-SemiBoldItalic.woff2') format('woff2'),
        url('Gilroy-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyRegularItalic';
    src: url('Gilroy-RegularItalic.woff2') format('woff2'),
        url('Gilroy-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyThinItalic';
    src: url('Gilroy-ThinItalic.woff2') format('woff2'),
        url('Gilroy-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroySemiBold';
    src: url('../asset/fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../asset/fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyUltraLightItalic';
    src: url('Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('Gilroy-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GilroyUltraLight';
    src: url('Gilroy-UltraLight.woff2') format('woff2'),
        url('Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


body {
    margin: 0%;
}

.navBar {
    text-align: center;
    font-size: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    padding: 2% 0% 2%;
    font-family: "GilroyExtraBold";
    background-color: #0C243C;
}

.list {
    text-align: center;
    padding: 2% 2% 2%;
    text-decoration: none;
    color: white;
}

.imgDescription {
    padding: 2% 4% 10%;
}

.img {
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    padding-left: 5%;
    padding-top: 2%;
    height: auto;
}

.des {
    float: right;
    padding-top: 2%;
    padding-right: 65%;
    font-family: "GilroyMedium";
}

.des1 {
    float: right;
    padding-right: 69.5%;
    font-family: "GilroyMedium";
}