@font-face {
    font-family: "GilroyBold";
    src: url(../asset/fonts/Gilroy-ExtraBold.woff) format(woff),
         url(../asset/fonts/Gilroy-ExtraBold.woff2) format(woff2);
}

@font-face {
    font-family: "GilroyMedium";
    src: url(../asset/fonts/Gilroy-MediumBold.woff) format(woff),
         url(../asset/fonts/Gilroy-MediumBold.woff2) format(woff2);
}

@font-face {
    font-family: "GilroyRegular";
    src: url(../asset/fonts/Gilroy-Regular.woff) format(woff),
         url(../asset/fonts/Gilroy-Regularwoff2) format(woff2);
}